<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="BooksApp"
        android:allowBackup="false"
        android:icon="@drawable/books_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SearchActivity"
            android:windowSoftInputMode="stateHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.FavoritesActivity">
        </activity>

        <activity android:name="net.openid.appauth.RedirectUriReceiverActivity"
            tools:node="replace"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <!-- *** COMMENT THE LINE BELOW FOR APPROOV *** -->
<!--                <data android:scheme="${redirect_scheme}"/>-->

                <!-- *** UNCOMMENT THE LINE BELOW FOR APPROOV *** -->
                 <data android:scheme="${redirect_scheme}"
                       android:host="${redirect_host}"
                       android:path="${redirect_path}" />
            </intent-filter>
        </activity>

    </application>

</manifest>
