# COPY AND PASTE BELOW LINES TO YOUR ACTUAL local.properties FILE


### MOBILE FLOW ###

#  *** COMMENT LINES BELOW FOR APPROOV ***

oauth2.redirectScheme=com.criticalblue.auth.demo
oauth2.redirectPath=""
oauth2.redirectHost=""
oauth2.redirectUri=com.criticalblue.auth.demo:/oauth2redirect
oauth2.discoveryEndpoint=https://accounts.google.com/.well-known/openid-configuration

google.authorizationScope=openid email profile https://www.googleapis.com/auth/books
google.userInfoEndpoint=https://www.googleapis.com/oauth2/v3/userinfo
google.clientId=___YOUR_GOOGLE_CLIENT_ID_HERE___


### WEB FLOW ###

# *** UNCOMMENT LINES BELOW FOR APPROOV ***

#oauth2.redirectScheme=https
#oauth2.redirectPath=/oauth2redirect
#oauth2.redirectHost=example.com
#oauth2.redirectUri=https://example.com/oauth2redirect
#oauth2.discoveryEndpoint=https://accounts.google.com/.well-known/openid-configuration
#
#google.authorizationScope=openid email profile https://www.googleapis.com/auth/books
#google.userInfoEndpoint=https://www.googleapis.com/oauth2/v3/userinfo
#google.clientId=___YOUR_GOOGLE_CLIENT_ID_HERE

# ONLY REQUIRED WHEN TESTING THE WEB FLOW WITHOUT APPROOV
#google.clientSecret=___YOUR_GOOGLE_CLIENT_ID_HERE___


### APPROOV ###

#approov.config=___YOUR_APPROOV_CONFIG_STRING_HERE___
